/*App Styles*/

Body {
  Width: 1000px;
  Margin: 0 auto;
  background: maroon;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

section {
  width: 970px;
  margin: 20px auto;
}

img {
  display: inline-block;
  width: 300px;
  margin: 4px;
  border: ridge 6px #434343;
}

#slider_section {
  margin: 0 auto;
  visibility: hidden;
  height: 0px;
  width: 1000px;
  padding: 10px;
  overflow: hidden;
  background: #e3e3e3;
}
